<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('../../partials/bootstrap') %> 
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
<title>Kitchen Fantasies</title>
</head>
<body>
<!-- Main Nav -->
<%- include('../../partials/navBar') %>

<!-- Main About -->
<header id="userListPage"></header>
  <h2 class="joinUs"><%= user.name %>'s Profile</h2>
    <div class="mainSection"></div>

  



<div class="butEd">
  <section class="editButt">
    <a href="/users/<%= user._id %>/edit">
      <button type="submit" class="btn">Edit</button>
    </a>
  </section>
  <form action="/users/<%= user._id %>?_method=DELETE" method="post">
    <input type="submit" class="btn" value="Delete User"/>
  </form>
  <a href="/recipes/new">
    <button type="submit" class="btn newRec">Create A New Recipe!</button>
  </a>
</div>

<!-- User's recipes should be shown here -->
  <% user.recipes.forEach(recipe => { %>
    <a href="/recipes/<%= recipe._id %>" class="recBlack"><%= recipe.name %></a>  <% }); %>


<!-- <footer class="footer"></footer> -->
</div>
</body>
</html>
