<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('../../partials/bootstrap') %> 
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
<title>Kitchen Fantasies</title>
</head>
<body>
<!-- Main Nav -->
<%- include('../../partials/navBar') %>

<!-- Main About -->
<header id="userListPage"></header>
  <h2 class="joinUs">USER SHOW PAGE</h2>
    <div class="mainSection"></div>

  

  <h2 class="show"><%= user.name %>'s profile</h2> 

  <!-- <button type="submit" class="btn btn-primary">Update!</button> -->

  <section>
    <a href="/users/<%= user._id %>/edit">
      <button type="submit" class="btn btn-primary">Edit</button>
      <!-- <button>Edit</button> -->
    </a>
  </section>

    <form action="/users/<%= user._id %>?_method=DELETE" method="post">
      <input type="submit" class="btn btn-primary" value="Delete User"/>
    </form>
</body>
</html>
