<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include('../../partials/bootstrap') %> 
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<title>Kitchen Fantasies</title>
</head>
<body>
<!-- Main Nav -->
<%- include('../../partials/navBar') %>  

<header id="recipeIndex"></header>
<h2 class="aboutUs"><%= recipe.name %></h2>
<!-- Figure out how to how recipe owner's name showing -->
<h4 class="recipeOwner">Recipe Owner: <%= recipe.user %></h4>


<div class="butEd">
  <a href="/recipes">
    <button type="submit" id="recNew" class="btn">Back to All Recipes</button>
  </a>
<a href="/recipes/<%= recipe._id %>/edit">
  <button type="submit" id="recNew" class="btn">Edit</button>
</a>
<form action="/recipes/<%= recipe._id %>?_method=DELETE" method="post">
  <button type="submit" id="marEd" class="btn">Delete</button>
</form>
</div>
<div>
  
  <ul class="textRec">
    <li>Cuisine: <%= recipe.cuisineType %></li>
    <li>Total Cook Time: <%= recipe.totalCookTime %></li>
    <li>Ingredients: <%= recipe.ingridients %></li>
    <li>Instructions: <%= recipe.instructions %></li>
  </ul>
</div>
  <!-- <footer class="footer"></footer> -->
</body>
</html>